<header [ngClass]="{ 'mobile-menu-open': mobileMenuOpen() }">
  <div id="logo" (click)="goToRoute('/home')">
    <img [src]="'assets/img/logo' + (mobileMenuOpen() ? '_accent' : '') + '.svg'" alt="Site logo">
  </div>

  @if (isInMobile() === false || mobileMenuOpen()) {
    <nav>
      @for (link of links; track link; let i = $index) {
        <link-button
          [active]="linkIsActive(link.route)"
          (click)="goToRoute(link.route)"
          animate.enter="fade-in translate-in"
          animate.leave="fade-out"
          [style]="{ '--index': i }"
        >
          {{ link.label }}
        </link-button>
      }

      <link-button
        animate.enter="fade-in translate-in"
        animate.leave="fade-out"
        [style]="{ '--index': links.length }"
        (click)="goToRepository()"
      >
        <span id="linkedin-link">
          GitHub Repository <img src="assets/img/external-link-icon.svg" alt="External site">
        </span>
      </link-button>

      <link-button
        animate.enter="fade-in translate-in"
        animate.leave="fade-out"
        [style]="{ '--index': links.length }"
        (click)="goToLinkedIn()"
      >
        <span id="linkedin-link">
          My LinkedIn <img src="assets/img/external-link-icon.svg" alt="External site">
        </span>
      </link-button>
    </nav>
  }

  @if (mobileMenuOpen()) {
    <div
      id="menu-bg"
      animate.enter="fade-in"
      animate.leave="fade-out"
    ></div>
  }

  <div id="menu-btn" (click)="toggleMobileMenu()" [ngClass]="{ open: mobileMenuOpen() }">
    @if (mobileMenuOpen()) {
      <span>&times;</span> CLOSE
    } @else {
      <span>&#9776;</span> MENU
    }
  </div>
</header>