@import '../../styles/mixins';

header {
  @include flexbox(row, space-between, center);
  width: 100%;
  height: var(--main-header-height);
  padding: 1rem 2rem;
}

#logo {
  cursor: pointer;
  img { height: var(--main-logo-height); }
}

nav {
  @include flexbox();
  transform: translateY(.4rem);
}