@use '../../styles/mixins' as *;
@use '../../styles/animations';

header {
  @include flexbox(row, space-between, center);
  width: 100%;
  height: var(--main-header-height);
  padding: 1rem 2rem;
  z-index: 2;

  @media (max-width: 900px) {
    @include flexbox(column, center, center);
  }
}

#logo {
  cursor: pointer;
  z-index: 3;
  img {
    height: var(--main-logo-height);
  }
  @media (max-width: 900px) {
    padding-top: 1rem;
  }
}

nav {
  z-index: 2;
  @include flexbox();
  transform: translateY(.4rem);
  
  @media (max-width: 900px) {
    @include flexbox(column, center, center);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  link-button {
    @media (max-width: 900px) {
      @include flexbox(row, center, center);

      --anim-fade-in-duration: 800ms;
      --anim-fade-out-duration: 800ms;
      --anim-translate-in-duration: 800ms;
      --anim-translate-in: 0 3rem;

      transition: 
        opacity var(--anim-fade-out-duration),
        translate var(--anim-translate-in-duration) var(--anim-translate-in-curve);

      &.fade-in, &.translate-in {
        transition-delay: calc(200ms * var(--index));
      }
      
      ::ng-deep #wrapper {
        margin-bottom: 3rem;
        width: 100%;
        height: 100%;

        padding: 1rem 4rem;
        
        &:not(.active), &.active {
          &:hover #label, #label {
            color: var(--accent-color);
          }
        }
      }
    }
  }
}

#menu-btn {
  @include flexbox(row, center, center);
  display: none;
  font-size: 1.8rem;
  color: var(--accent-color);

  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  
  padding: .5rem 1rem;

  cursor: pointer;
  z-index: 3;

  @media (max-width: 900px) {
    display: flex;
  }

  &.open {
    span {
      font-size: 2.8rem;
    }
    background-color: transparent;
  }

  span {
    margin-right: .5rem;
  }
}

#menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  z-index: 1;
  --anim-fade-in-duration: 150ms;
  --anim-fade-out-duration: 500ms;
}