@import '../../styles/mixins';

header {
  @include flexbox(row, space-between, center);
  width: 100%;
  height: 7rem;
  padding: 1rem 2rem;
}

#logo {
  cursor: pointer;
  img { height: 3rem; }
}

nav {
  @include flexbox();
  transform: translateY(.4rem);
}