@import '../../shared/styles/mixins';

header {
  @include flexbox(row, flex-end, center);
  margin-bottom: 5rem;
  padding-left: 50%;

  h2 {
    font-size: var(--skillset-subpage-super-title-size);
    margin-left: 3rem;
  }
}

.grid-container {
  padding-left: 50%;
}