#wrapper {
  padding: var(--main-content-padding);
  
  &.history {
    #main-info {
      width: 70%;
      right: var(--main-content-padding);

      @media (max-width: 900px) {
        width: 100%;
        right: 0;
      }
    }
    #presentation-card {
      right: auto;

      @media (max-width: 900px) {
        left: auto;
        right: var(--main-content-padding);
      }
    }
  }

  @media (max-width: 900px) {
    padding-bottom: 30rem;
  }
}

#main-info {
  position: fixed;
  width: 50%;

  @media (max-width: 900px) {
    width: 100%;
    bottom: var(--mobile-bottom-space);
    left: 0;
  }
}

#presentation-card {
  position: fixed;
  bottom: var(--presentation-card-bottom-space);
  right: var(--main-content-padding);

  background-color: var(--card-bg);
  backdrop-filter: var(--bg-blur);

  padding: var(--presentation-card-padding);
  
  z-index: 0;
  overflow: hidden;

  @media (max-width: 900px) {
    right: auto;
    left: var(--main-content-padding);
  }

  &::after, &::before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border: 1rem solid var(--accent-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    z-index: 2;
  }

  &::before { top: 0; left: 0; }
  &::after { bottom: 0; right: 0; transform: rotate(180deg); }

  h3 {
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: .5rem;
    white-space: nowrap;
  }

  p {
    margin-bottom: 0;
    line-height: 1.2;
    font-size: var(--main-font-size);
    white-space: nowrap;
  }
}