.floating-link {
  display: block;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  z-index: 2;
  opacity: 0;
  background: var(--accent-color);
  padding: 1rem 2rem;

  @media (max-width: 900px) {
    font-size: 1.5rem;
    bottom: 11rem;
  }

  &.visible {
    opacity: 1;
    z-index: 3;
    
    &:hover {
      opacity: 1;
      transform: translateX(-50%) scale(1.15);
    }
  }
}