canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

canvas {
  background-color: #293459;
  z-index: 1;
}

.arrow-container {
  position: fixed;
  top: 50%;
  $borderMargin: 6rem;
  left: $borderMargin;
  
  transform: translateY(-50%);
  z-index: 1;

  &.right {
    transform: translateY(-50%) scaleX(-1);
    right: $borderMargin;
    left: auto;
  }

  arrow-button {
    position: absolute;
  }
  
}

#vignette {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 18, 26, 0) 60%, rgba(0, 18, 26, 0.6) 100%);
  z-index: 2;
}