<div id="wrapper" #wrapper [@routeAnimations]>
  <div
    id="background"
    [ngStyle]="{ 'height.px': backgroundHeight }"
  ></div>

  @for (exp of workExperience; track exp) {
    <div
      class="work-exp"
      #item
      >
      <div class="work-exp__year">{{ exp.year }}</div>
      <h3 class="work-exp__title super-title">{{ exp.title }}</h3>
      <div class="work-exp__subtitle">{{ exp.subtitle }}</div>
      @if (exp.rolesAndResp.length) {
        <div class="work-exp__roles-resp">
          <h4>Roles and Responsibilities</h4>
          <ul>
            @for (item of exp.rolesAndResp; track item) {
              <li>{{ item }}</li>
            }
          </ul>
        </div>
      }
    </div>
  }
</div>