#wrapper {
  display: grid;
  grid-auto-columns: 50rem;
  grid-auto-rows: 40rem;
  gap: 10rem;
  align-items: start;
  align-content: center;
  overflow: auto;
  user-select: none;

  height: 100%;
  padding: var(--main-content-padding) 10rem;

  z-index: 1;

  
  @media (max-width: 900px) {
    grid-auto-columns: 80vw;
    gap: 3rem;
    align-content: end;
    padding-bottom: 12rem;
    padding-inline: 2rem;
  }

  &:active {
    cursor: grabbing;
  }

  #background {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: var(--bg-blur);
    position: fixed;
    z-index: -1;
    width: 100%;
    top: calc(50% + var(--main-content-padding));
    transform: translateY(-50%);
    left: 0;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.work-exp {
  grid-row: 1;
  display: grid;
  align-content: start;

  grid-template-columns: [start] minmax(10rem, max-content) [content] 1fr [end];
  column-gap: 2rem;
  row-gap: .5rem;
  padding-right: 2rem;

  overflow: auto;
  height: 100%;

  backdrop-filter: var(--bg-blur);
  
  @media (max-width: 1024px) {
    grid-template-columns: [content] 1fr [end];
    background: rgba(255, 255, 255, 0.8);
    padding: 4rem;
  }

  @media (max-width: 900px) {
    padding: 2rem;
  }

  &::after {
    content: 'END';
    width: 100%;
    bottom: 0;
    color: var(--accent-color);
    border-top: 3px solid var(--accent-color);
    padding-top: 1rem;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
    grid-column: content;
  }

  &__year {
    padding-top: 1rem;
    grid-column: start;
    text-align: center;
    font-weight: bold;

    @media (max-width: 1024px) {
      grid-column: content;
      padding: 0;
      text-align: left;
    }
  }

  &__title,
  &__subtitle,
  &__roles-resp {
    grid-column: content;
  }
  
  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    margin-bottom: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__roles-resp {
    h4 { margin-bottom: 1rem; }
    ul { margin-left: 3rem; }
    li {
      position: relative;
      margin-bottom: 1rem;
      list-style: none;

      &::before {
        content: '';
        position: absolute;
        top: .5rem;
        left: -1.7rem;
        
        $size: .75rem;
        width: $size;
        height: $size;

        background-color: var(--accent-color);
        border-radius: 100%;
      }
    }
  }
}