#wrapper {
  display: grid;
  gap: var(--skillset-grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-bottom: var(--skillset-grid-gap);
}

skill-card {
  // Esto probablemente vaya mejor dentro del mismo componente...
  // Pasarle el array directo por un @Input en vez de usar proyección
  p {
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.2;
  }
}