#wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-bottom: var(--skillset-grid-gap);

  @media (max-width: 900px) {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: var(--mobile-bottom-space);
    height: var(--mobile-content-size);
    overflow: auto;
    padding-inline: var(--main-content-padding);
    gap: 1rem;
  }
}

skill-card {
  // Esto probablemente vaya mejor dentro del mismo componente...
  // Pasarle el array directo por un @Input en vez de usar proyección
  p {
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 1.2;
  }
}