:root {
  --primary-color: #364058;
  --accent-color: #CE313A;
  --font-primary-color: #1B1B1B;
  --link-color: var(--primary-color);
  --link-hover-color: #fff;
  --link-selected-color: #fff;
  --link-selected-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  --card-bg: rgba(255, 255, 255, 0.6);
  --selected-tab-bg-color: rgba(255, 255, 255, 0.6);
  --unselected-tab-text-color: rgba(255, 255, 255, 0.5);
  --bg-blur: blur(20px);
  --font-timeline-color: rgba(255, 255, 255, 0.5);
  --small-title-color: var(--accent-color);
  --big-title-color: var(--accent-color);
  --main-header-height: 7rem;
  --main-content-padding: 5rem;
  --main-content-height: calc(100% - var(--main-header-height));
}