:root {
  --main-font-size: 1.6rem;
  --p-font-size: 1.8rem;
  --primary-color: #364058;
  --accent-color: #CE313A;
  --font-primary-color: #1B1B1B;
  --link-color: var(--primary-color);
  --link-hover-color: #fff;
  --link-selected-color: #fff;
  --link-selected-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
  --card-bg: rgba(255, 255, 255, 0.6);
  --selected-tab-bg-color: rgba(255, 255, 255, 0.6);
  --unselected-tab-text-color: rgba(255, 255, 255, 0.5);
  --bg-blur: blur(20px);
  --font-timeline-color: rgba(255, 255, 255, 0.5);
  --small-title-color: var(--accent-color);
  --big-title-color: var(--accent-color);
  --main-header-height: 7rem;
  --main-logo-height: 3rem;
  --main-content-padding: 5rem;
  --main-content-height: calc(100% - var(--main-header-height));
  --tab-padding: 1.2rem 1.5rem;
  --tab-content-size: calc(100vh - var(--tab-content-bottom-space));
  --tab-content-padding: 6rem 7rem;
  --tab-content-bottom-space: 23rem;
  --presentation-card-top-space: auto;
  --presentation-card-bottom-space: 15rem;
  --presentation-card-padding: 3rem;
  --skillset-subpage-super-title-size: 6rem;
  --arrow-button-size: 7rem;
  --mobile-bottom-space: 11rem;
  --mobile-content-size: 40vh;
  --above-mobile-content: calc(var(--mobile-content-size) + var(--mobile-bottom-space));

  @media (max-width: 1400px) {
    --main-font-size: 1.4rem;
    --p-font-size: 1.6rem;
    --main-header-height: 5rem;
    --main-logo-height: 2rem;
    --main-content-padding: 2rem;
    --tab-padding: .8rem 1.5rem;
    --tab-content-bottom-space: 16rem;
    --tab-content-padding: 2.5rem 5.5rem;
    --presentation-card-bottom-space: 6rem;
    --presentation-card-padding: 2rem;
  }

  @media (max-width: 1024px) {
    --skillset-subpage-super-title-size: 4rem;
    --arrow-button-size: 2rem;
  }

  @media (max-width: 900px) {
    --main-logo-height: 3rem;
    --tab-content-size: var(--mobile-content-size);
    --presentation-card-bottom-space: calc(var(--tab-content-size) + var(--tab-content-bottom-space));
    --presentation-card-padding: 1rem;
    --skillset-subpage-super-title-size: 3rem;
  }
}