:root {
  --primary-color: #364058;
  --accent-color: #CE313A;
  --font-primary-color: #1B1B1B;
  --link-color: var(--primary-color);
  --link-selected-color: #fff;
  --link-selected-shadow: 0px 0px 4px rgba(255, 255, 255, 0.35);
  --card-bg: rgba(#D9D9D9, 60%);
  --selected-tab-bg-color: rgba(#D9D9D9, 30%);
  --font-timeline-color: rgba(#fff, 50%);
  --small-title-color: var(--accent-color);
  --big-title-color: var(--accent-color);
}