@import './mixins';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  @media screen and (min-width: 1440px) {
    font-size: 78.125%;
  }
}

body {
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #B0BBC9 0%, #717E8E 100%) center no-repeat;
  background-size: cover;

  font-family: 'Ubuntu', 'sans-serif';
  font-size: 1.6rem;
  color: var(--font-primary-color);
}

a {
  font-weight: bold;
  color: var(--link-color);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: .35s;
  &:hover { color: var(--link-hover-color); }
}

p {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.7;
  margin-bottom: 3rem
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: var(--small-title-color);
}

.super-title {
  font-family: 'oswald';
  text-transform: uppercase;
  color: var(--big-title-color);

  &, &--block {
    @include flexbox(column);
    &--right { align-items: flex-end; }
  }
  
  &--inline {
    @include flexbox();
    &--right { justify-content: flex-end; margin-left: .2em; }
    & > span { margin-right: .2em; }
  }

  & > span {
    line-height: 1;
    
    &.super-title__outline {
      color: transparent;
      -webkit-text-stroke: 1px var(--big-title-color);
      $distance: .07em;
      text-shadow: $distance $distance 0 #fff;
    }
  }

}