@mixin flexbox($direction: row, $justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-center($direction: row) {
  @include flexbox($direction, center, center);
}