<div id="wrapper" #wrapper>  
  <tabbed-container [tabs]="tabs" activeTab="history">
    <div *ngFor="let content of pageContent; let i = index" #bookmark class="bookmark" [ngClass]="{ current: currentBookmark == i }">
      <h3>{{ content.title }}</h3>
      <p *ngFor="let paragraph of content.paragraphs">{{ paragraph }}</p>
      <p class="sidenote" *ngIf="content.sidenote"><b>Sidenote</b>: {{ content.sidenote }}</p>
    </div>
  </tabbed-container>

  <div id="timeline" #timeline>
    <link-button
      *ngFor="let item of timelineItems; let i = index"
      [active]="currentBookmark == i"
      (click)="goToBookmark(i)"
      [ngStyle]="{ top: item.offsetTop * .95 + 'px' }"
    >
      <div class="button-inner" #timelineButtonInner>
        <p>{{ item.text[0] }}</p>
        <p>{{ item.text[1] }}</p>

        <div *ngIf="i"
          class="timeline-line"
          [ngStyle]="{ height: item.lineHeight + 'px' }"></div>
      </div>
    </link-button>
  </div>
</div>