<tabbed-container [tabs]="tabs" activeTab="summary">
  <p>As a programmer, He’s focused on front-end web technologies such as Angular, JavaScript/TypeScript and CSS (templating), and can adapt to any framework depending on the project. Those skills can also be combined with others such a light back-end skills for API development on Laravel/Express and graphic design.</p>
  <p>He’s also experienced working on the Unity game engine for interactive and graphically reach content like games or VR/AR applications.</p>
  <p>A strong graphic design background is part of his skillset, and while it’s not currently the focus of his carrier, it helps him understand and work alongside other teams beyond the technology field or directly take some of those tasks whenever it’s necessary.</p>
  <p>The combination of this skillset makes David a great choice for any project where the user interface, experience and how the they interacts with the application are the key.</p>
  <br><br>
</tabbed-container>