<tabbed-container [tabs]="tabs" activeTab="summary">
  <p>As a programmer, my focus is front-end web technologies such as Angular, JavaScript/TypeScript and CSS (templating), and I can adapt to any framework depending on the project. Those skills can also be combined with others such a light back-end skills for API development on Laravel/Express and graphic design.</p>
  <p>I'm also experienced working on the Unity game engine for interactive and graphically reach content like games or VR/AR applications.</p>
  <p>A strong graphic design background is part of my skillset, and while it's not currently the focus of my carrier, it helps him understand requirements and work alongside people from other fields or even directly take some of those tasks on demand.</p>
  <p>The combination of this skillset makes me a great choice for any project where the user interface, experience and how the they interacts with the application are the key.</p>
  <br><br>
</tabbed-container>