#wrapper {
  display: grid;
  grid-template-columns: repeat(2, [tabs] min-content) 1fr;
  grid-template-rows: 
    [tabs] min-content 
    [content] var(--tab-content-size)
    [end];
  transition: .3s;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, [tabs] 50vw) 1fr;
  }
}

.tab {
  display: block;
  padding: var(--tab-padding);
  position: relative;
  color: var(--unselected-tab-text-color);
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleY(1);
    transform-origin: bottom;
  }

  &.active {
    color: #fff;
    &::before {
      background: var(--accent-color);
      animation: in ease-out .5s;
    }
  }
}

#content {
  background-color: var(--selected-tab-bg-color);
  backdrop-filter: var(--bg-blur);
  padding: var(--tab-content-padding);
  grid-row: content / end;
  grid-column: tabs / end;
  transition: .3s;
  overflow: auto;

  .content-inner {
    animation: content-fade-in .3s;
    animation-delay: .4s;
    animation-fill-mode: backwards;
  }
}

@keyframes in {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}

@keyframes content-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}