@import 'app/shared/styles/css-properties';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #B0BBC9 0%, #717E8E 100%) center no-repeat;
  background-size: cover;

  font-family: 'Ubuntu', 'sans-serif';
  font-size: 1.6rem;
}