@import '../../shared/styles/mixins';

#wrapper {
  padding: var(--main-content-padding);
  height: 100%;
  position: relative;

  &.skillset {
    .link:nth-child(2) > a { align-items: flex-end };
  }
}

#content {
  width: 100%;
  overflow: auto;
}

.link {
  cursor: pointer;
  position: absolute;
  top: 50%;

  @media (max-width: 900px) {
    top: 25%;
  }
  
  &:nth-child(2) {
    right: var(--main-content-padding);
  }

  & > .super-title {
    transform: translateY(-50%);
    user-select: none;
    cursor: pointer;
    font-size: 10vh;

    @media (max-width: 1024px) and (min-height: 1024px) {
      font-size: 6vh;
      transform: translateY(-0);
    }

    @media (max-width: 900px) {
      font-size: 4rem;
    }
  }
}
