@import '../../shared/styles/mixins';

#wrapper {
  padding: var(--main-content-padding);
  height: 100%;
  position: relative;

  &.skillset {
    .link:nth-child(2) > a { align-items: flex-end };
  }
}

#content {
  width: 100%;
  overflow: auto;
}

.link {
  cursor: pointer;
  position: absolute;
  top: 50%;
  
  &:nth-child(2) { right: 5rem }

  & > .super-title {
    transform: translateY(-50%);
    user-select: none;
    font-size: 10vh;
  }
}
